body {
  font-family: "Source Sans Pro";
}

:root {
  --sun-width: 25%;
  --sun-margin: 50px;
  --cloud-height: 15%;
  --chat-gap: 10px;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sunlight {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7ae3f;
}

.portrait-content {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5 ease-in-out;
  opacity: 0;
}

/* https://codepen.io/kirstenallen/pen/MWwPYYm */
[id*=chat-] {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 10px;
}
.chat-text {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  /* mix-blend-mode: multiply; */
  text-align: left;
  /* text-transform: uppercase; */
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
  color: brown;
  background-color: #f8e7a2;
  border-radius: 7px;
  box-shadow: 10px 10px #b57743;
  font-family: "Baloo 2", cursive;
  position: absolute;
  border: 3px solid #e29b59;
  word-wrap: break-word;
}

.content {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.portrait-message, .portrait-phone {
  display: none;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* https://codepen.io/fabiowallner/pen/YOyJbJ */
@keyframes rotate {
0% {
  transform: rotate(0deg)
}
50% {
  transform: rotate(-90deg)
}
100% {
  transform: rotate(-90deg)
}
}

@media only screen and ((orientation: portrait)){
  .portrait-content  {
      opacity: 1;
  }
  .content {
      /* display: none !important; */
      opacity: 0;
  }
  .portrait-phone {
      height: 50px;
      width: 100px;
      border: 3px solid white;
      border-radius: 10px;
      animation: rotate 1.5s ease-in-out infinite alternate;
      display: block;
  }
  .portrait-message {
      color: white;
      font-size: 1em;
      margin-top: 40px;
      display: block;
  }
}

#overlay{
  position:absolute;
  /* z-index:100; */
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(181,119,67,255);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:rgba(250,246,166,255);
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:rgba(250,246,166,255);
}